@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
  body {
    @apply font-[Rubik] text-stone-200;
    @apply bg-gradient-to-r from-[#048047] to-[#13626a];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.fm {
  cursor: pointer;
}

.socialPopouts {
  @apply w-[160px] h-[60px] flex justify-between items-center ml-[-100px] hover:ml-[-10px] duration-300 bg-gradient-to-r from-[#13626a] to-[#86c913];
}

.socialPopoutsAccent {
  @apply flex justify-between items-center w-full text-gray-300;
}

.mobileFooter {
  @apply w-[60px] h-[60px] flex rounded-lg bg-[#86c913] opacity-75 hover:opacity-100;
}
